.header {
    background-color: rgb(110, 167, 231);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
  }

.navbar-brand {
    padding-left: 10px;
    font-family: cursive;
}

.nav-item1 {
    display: flex;
    margin-left: 50px;
}

.nav-item2 {
    display: flex;
    margin-left: 20px;
}

.nav-item3 {
    display: flex;
    margin-left: 20px;
}

.nav-item4 {
    display: flex;
    margin-left: 20px;
}

.nav-item5 {
    margin-left: 20px;
}
.content {
    padding-left: 13px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(150, 17, 17);
}
.content {
    padding-left: 15px;
}
